
h1{
    color:white;
    text-shadow:0 1px black;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:52%;
    position:absolute;
  }
  h3{color:white;
    text-shadow:0 1px black;
    font-size: 18px;
    position: relative;
    margin-left:54%;
   
  }


.girl{
 width:40%;
 float:left;
 margin-top:-50%;

}
@media screen and (max-width: 480px) {
  img {
    display: block;
    max-width: 100%;
  }
  body {
    flex-direction: column;
    grid-auto-flow: row;
  }
  div {
    font-size: 1.5rem;
  }
  
}

