
body{
  background-color: #AEC6AC;
}
h1{
  color:white;
  text-shadow:0 1px black;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left:40%;
}
.text{
  text-align: center;
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#AEC6AC;
}
.container {
    background-color: #79a47e;
    display: grid;
    margin-top:5%;
position:absolute;
top:0;
bottom:0;
left:0;
right:0;

    grid-template-areas:
      "header navbar"
      "side article"
      "footer footer";
      


    column-gap: 2px;
    row-gap: 2px;
}

.item {
  border: 1px solid black;
  text-align: center;
  color:#AEC6AC;
  text-shadow:0 1px black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:30px;


}

.item-1 {
  grid-area: header;
  border: 1px solid black;
  background-image: url(https://images.pexels.com/photos/8761335/pexels-photo-8761335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size:cover;

}

.item-2 {
  grid-area: navbar;
  border: 1px solid black;
  background-image: url(https://images.pexels.com/photos/265087/pexels-photo-265087.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size:cover;
}

.item-3 {
  grid-area: side;
  border: 1px solid black;
  background-image: url(https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size:cover;
}

.item-4 {
  grid-area: article;
  border: 1px solid black;
  background-image: url(https://images.pexels.com/photos/4968631/pexels-photo-4968631.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size:cover;
 
}

.item-5 {
  grid-area: footer;
  border: 1px solid black;
  background-image: url(https://images.pexels.com/photos/163064/play-stone-network-networked-interactive-163064.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size:cover;
}
