.vid{
    width:90%;
    margin-left:10%;
    position:relative;
    margin-top:2%;
}
h1{
    color:white;
    text-align: center;
    text-shadow:0 1px black;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color:white;
    text-align: center;
    text-shadow:0 1px black;
    font-size: 25px;
}
.move{
    margin-left:-5%;
    margin-top:-10%;
}